#header {
    background-color: #5c755e;
    margin: 10px;
    /*    height: 90px;*/
    border-radius: 5px;
}
#header h2 {
    text-align: center;
    padding: 10px;
}
.sidebar {
    background-color: black;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.sidebar h1 {
    color: white;
}
.portfolio {
    background-color: red;
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    bottom: 0;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}
input[type=checkbox] {
    display: none;
}
input:checked ~ .portfolio {
    left: 0;
}
input:checked ~ label {
    left: 0;
}
label {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: blue;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}
